{% extends 'base_generic.html' %}

{% block content %}
<h2>Editor List... Más contexto!!! del pais </h2>
<ul>
    {% for editor in editor_list %}
        <li> {{ editor.nombre }} ({{ editor.nif }})
            <!--Por el uso de el namespace como se ejecuta desde la raiz, puedo acceder a las distintas views de las distintas apps-->
            <a href="{% url 'catalog:sacalibros_editor' editor.pk %}">
                <button>Detalles</button>
            </a>
        </li>
    {% endfor %}
</ul>

      <!-- BLOQUE DE HTML PARA LA PAGINACION -->
      {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
      {% endblock %}
      
{% endblock %}